
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Patua+One|Roboto");

// Variables
@import "variables";
@import "overwrites";

// Bulma
@import "~bulma/css/bulma";

*{
	font-family: 'Open sans';
}

body, html {
	height: 100%;
}

.navbar-item{
	font-size: .9em;
}

a.navbar-item:hover{
	background-color:white;
	color:#6b6b6b;
}

.navbar-logo{
	padding:0;
	position: absolute;
    background-color: white;
    width: 90px;
    height: 90px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.navbar-item img{
	max-height:4.75em!important;
}

.is-2em{
	font-size:2.5em;
}

h1.title{
	font-family: "Patua One";
	text-transform: uppercase;
}

.hero-content >.subtitle{
	text-align:left;
    // color:#fff!important;
    text-transform:uppercase;
    font-size:1.5em;
    font-family:"Open Sans";
	padding:20px;
}

.has-white-bg{
	background-color:white!important;
	padding:5px;
}

.mt-50{
	margin-top:50px;
}

.mb-50{
	margin-bottom:50px;
}

.column{
	margin:20px;
	padding:20px;
}

p{
	max-width:800px;
	margin:0 auto;
}

section.section{
	margin-bottom:50px;
}

.parallax-1 { 
	/* The image used */
	background-image: url("/images/hero_01.jpg")!important;
    min-height:250px;
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.text-column h2{
	font-size: 1.2em;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
    border-left: 4px solid;
    height: 30px;
    margin-bottom: 15px;
}

.text-column p{
	text-align:left;
}

@media (max-width:1023px) {

	.navbar{
		position:relative!important;
		min-height:8rem;
	}

	.navbar-end{
		display:none;
	}

	.navbar-item img {
		max-height: 4.75rem;
		margin-top:15px;
		width:250px;
	}

}